<!DOCTYPE html>
<html>
<body>

<head>
<style>
h2 {text-align: center;}
</style>
</head>

<head>
    <title>login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 8px 100px; margin-bottom: 8px">
    <a class="navbar-brand" href="#">Hệ thống quản lý tài khoản ftp</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/viewprofile">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/cdn/FileZilla.exe">Tải FTP Client <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div>
            <a href="/logout">Logout/Login</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-12 text-center">
        <h1>Hướng dẫn sử dụng</h1>
    </div>
</div>
<center><a href="/cdn/FileZilla.txt">Tải File Zilla Client tại đây</a></center>
<h2>Điền ip của ftp server vào host, điền ftp uername và password vào FileZilla</h2>
<center><img src="/cdn/1.jpg"></center>

<h2>Để tải file lên ftp Server, browse file tại bảng bên trái (Local Site) và ấn Upload</h2>
<center><img src="/cdn/2.jpg"></center>
<h2>Để tải dữ liệu từ ftp Server về, browse file tại bảng bên phải (Remote file) và ấn Download</h2>
<center><img src="/cdn/3.jpg"></center>
</body>
</html>
