<html>
<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 8px 100px; margin-bottom: 8px">
    <a class="navbar-brand" href="#">Hệ thống quản lý tài khoản ftp</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/huong-dan">Hướng dẫn sử dụng<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/cdn/FileZilla.exe">Tải FTP Client <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-12 text-center">
        <h1>Hệ thống quản trị tài khoản ftp</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <h3>{{msg}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-12" style="display: flex; justify-content: center">
        <form method="post" action="/signup" style="width: 20%">
            <div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type='email' name='email' class="form-control" placeholder="Nhập địa chỉ email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type='password' name='pass' class="form-control" placeholder="Nhập mật khẩu">
                </div>
                <div class="form-group">
                    <label for="repassword">Nhập lại Password:</label>
                    <input type='password' name='pass1' class="form-control" placeholder="Nhập lại mật khẩu">
                </div>
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

</body>
</html>